{% extends "base.html.twig" %}

{% block title %} {% endblock %}

{% block style %}
    <link href="css/dragAndDrop.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <p>Glissez-déposez un module dans une des tâches, l'enregistrement se fait automatiquement.</p>
        </div>
    </div>
    <form method="post" id="validTask">
        <div class="drag-container">
            <ul class="drag-list">
                <li class="drag-column drag-column-on-hold">
                    <span class="drag-column-header">
                        <h2>Tâches sans modules:</h2>
                        <svg class="drag-header-more" data-target="options1" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></svg>
                    </span>
                    <ul class="drag-inner-list" id="1">
                        {% for e in listeE %}
                            <li class="drag-item">{{ e.lastNameEmployee }}&nbsp;{{ e.firstNameEmployee }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% for t in listeT %}
                    <li class="drag-column drag-column-in-progress">
                        <span class="drag-column-header">
                            <h2>{{ t.nameTeam }}</h2>
                            <svg class="drag-header-more" data-target="options2" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></svg>
                        </span>
                        <ul class="drag-inner-list" id="{{ t.idTeam }}">
                            {% for e in listeEGotATeam %}
                                {% if e.idTeamEmployee == t.idTeam %}
                                    <li class="drag-item">{{ e.lastNameEmployee }}&nbsp;{{ e.firstNameEmployee }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>  
        </div>
    </form>
{% endblock %}

{% block js %}   
    <script src="//s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js"></script>
    {# Script permettant la prise en charge de plusieurs équipes #}
    <script>
        dragula([
            document.getElementById('1'),
        {% for t in listeT %}
            document.getElementById('{{ t.idTeam }}'),
        {% endfor %}
                ]).on('drag', function (el) {
                    // add 'is-moving' class to element being dragged
                    el.classList.add('is-moving');
                }).on('dragend', function (el) {
                    // remove 'is-moving' class from element after dragging has stopped
                    el.classList.remove('is-moving');
                    // add the 'is-moved' class for 600ms then remove it
                    window.setTimeout(function () {
                        el.classList.add('is-moved');
                        window.setTimeout(function () {
                            el.classList.remove('is-moved');
                        }, 600);
                    }, 100);
                });
    </script>
    <script>
        $(function(){
           $('#validTask').submit(function(){
               $.post("index.php?page=assignatask", null, function(data){
                   
                });
               return false;
           });
        });
    </script>
{% endblock %}