{% extends "base.html.twig" %}

{% block title %} Gestion des entreprises {% endblock %}

{% block contenu %}
    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1>
        {% else %} 
            <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
        {% endif %}     
    {% else %}      

        <div class="panel-body">
            <form  class="form-signin" action="index.php?page=specificationmodify" method="post" enctype="multipart/form-data">
                <label for="inputIdContract" class="sr-only">Responsable:</label>
                <select name="inputIdContract" class="form-control">
                    <option value="non">N/A</option> 
                    {% for c in listeC %}
                        <option value="{{ c.idContract }}">{{ c.labelContract }}</option> 
                    {% endfor%}    
                </select>    
                <select name="inputIdFirm" class="form-control">
                    <option value="non">N/A</option> 
                    {% for f in listeF %}
                        <option value="{{ f.idFirm }}">Nom firme</option> 
                    {% endfor%}    
                </select>    
                <div class="form-group">
                    <label class="col-md-4 control-label">Fichier:</label>  
                    <div class="col-md-4 ">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input name="fichier" placeholder="Fichier ..." class="form-control" type="file" >
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAdd">Ajouter</button>
            </form>
        </div>    
    {% endif %}
{% endblock %}