{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des équipes {% endblock %}

{% block contenu %} <h1> Gestion des équipes </h1> 

    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
        {% else %}  
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
        {% endif %}         
    {% endif %}         

    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading background-violet">Liste des équipes {% if session.idRoleUser == 2 %} 
            - <a href="index.php?page=teamadd" class="blanc">Ajouter une équipe</a></div>                {% endif %}    


        <!-- Table -->
        <div class="table-responsive">
            <table id="dtBasicExample" class="table table-hover table-striped">
                <thead>  <tr>
                        <th>Libellé</th>
                        <th>Responsable</th>
                            {% if session.idRoleUser == 2 %}
                            <th></th>
                            <th></th>
                            {% endif %}   
                    </tr>  </thead>
                    {% for t in listeT %}
                    <tr>
                        <td> {{t.nameTeam}}</td>
                        {%if t.lastNameEmployee and t.firstNameEmployee == null %}
                            <td> - </td>
                        {% else%} 
                            <td>{{t.lastNameEmployee}} {{t.firstNameEmployee}} </td>
                        {% endif %}
                        {% if session.idRoleUser == 2 %}
                            <td> <div class="btn-group btn-group-lg"><a href="index.php?page=teammodify&idTeam={{t.idTeam}}"><i class="fas fa-edit"></i></a></div></td>
                            <td><div class="btn-group btn-group-lg"><a href="index.php?page=team&idTeam={{t.idTeam}}"><i class="fas fa-trash"></i></a></div></td> 
                                    {% endif %}   
                                {% endfor %}    
            </table>
        </div><a href="index.php?page=teamPDFWS">Télécharger sous format PDF <i class="far fa-file-pdf"></i></a>
    </div>



{% endblock %} 

{% block js %} 
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock %}