{% extends "base.html.twig" %}

{% block title %} FAQ{{ parent() }}{% endblock %}

{% block style %}
    <link href="css/faq.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}FAQ{% endblock %}

{% block content %}
    {% for c in form.category %}
        <h2 class="c-faqs__headline" id="{{ c.labelCategory|lower }}">Espace {{ c.labelCategory|lower }}</h2>
        <ul class="c-faqs">
            {% for f in form.faq %}
                {% if f.labelCategory == c.labelCategory %}
                    <li class="c-faq">
                        <span class="c-faq__title">{{ f.titleFaq }}</span>
                        <div class="c-faq__answer">{{ f.answerFaq|striptags('<ul>,<li>,<p>')|raw }}</div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>  <!-- /end c-faqs -->
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="js/faq.js" type="text/javascript"></script>
{% endblock %}