{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
{% block contenu %}
 <div class="container">
    <h1> Ajouter un niveau !</h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.libelle, 'Libellé:', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}        
            <div class="col-sm-10"> 
                {{ form_errors(form.libelle) }}
                {{ form_widget(form.libelle) }}
                {{ form_help(form.libelle) }} 
            </div>
        </div>
            {{ form_widget(form.save) }} 
        </div>
        {{ form_end(form) }}
    
{% endblock %}