{% extends 'base.html.twig' %}
{% block title %}{{ parent()}} Liste des abonnements {% endblock %}{% block contenu %}
    <div class='container'>

        <h1> Liste des abonnements </h1>
        <div class="btn btn-info"><a href="{{ path('subscription_add') }}">Ajouter un abonnement</a></div>
        {% if not listSubscription is empty %}
            {{ form_start(form)}} 
<br>
            <div class=" container">
            <table class="table">
                <tr>
                    <th>Libellé</th>
                    <th>Renouvellement</th>
                    <th></th>


                </tr>
                {% for key,value in listSubscription %} 
                    <tr>
                        <td><a href="{{ path('subscription_modify',{'id':value.id})}}">{{ value.libelle }}</a></td>
                        <td><a href="">{{ value.nbFois }}  x</a></td>
                        <td><input type="checkbox" name="cocher[]" value="{{ value.id }}"/></td>   

                    </tr>
                {% endfor %}
            </table>
            </div>
            {{ form_end(form)}}
    {% else %}    Aucun abonnement à afficher{% endif %}
            </div>

{% endblock %}